apiVersion: v1
kind: Service
metadata:
  name: was-service
  labels:
    app: petclinic
spec:
  selector:
    app: petclinic
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  type: ClusterIP
