apiVersion: apps/v1
kind: Deployment
metadata:
  name: was-deployment
  labels:
    app: petclinic
spec:
#  replicas: 1
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
      - name: petclinic
        image: 010068699561.dkr.ecr.ap-northeast-2.amazonaws.com/petclinic:v1.2.81
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 250m
            memory: 512Mi
          limits:
            cpu: 500m
            memory: 1Gi
        livenessProbe:
          httpGet:
            path: /petclinic/
            port: 8080
          initialDelaySeconds: 180
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /petclinic/
            port: 8080
          initialDelaySeconds: 150
          periodSeconds: 10
